html, body {
	margin: 0;
	padding: 0;
	width: 100%;
}

.Background {
    background: linear-gradient(to top,#a3a7df, #c0c3ec, #f5f5f5,  #f5f5f5);
    
    padding-bottom: 592px;
}

.Ads__header {
    background: #dbdbdb ;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px #cfcfcf solid ;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 100px;
}

.Header__title {
    text-align: center;
    font-size: 100px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    padding-top: 50px;
}

.Header__button {
    cursor: pointer;
    font-size: 72px;
    font-weight: 700;
    margin-left: 700px;
    margin-top: 100px;
    margin-right: 680px;
    padding: 50px 64px;
    padding-top: 35px;
    padding-bottom: 35px;
    border-radius: 100px;
    background-color: #5d5d5d;
    color: white;
    transition: .25s;
    
}

.Header__button:hover {
    background-color: #23198f;
}

.Ads__content {
    font-family: 'Roboto', sans-serif;
    padding: 24px;
}

.Content__box:hover {
    background: #ffffff ;
    box-shadow: 0 -200px 100px -120px #d3d3d3  inset; 
}


.Content__box {    
    background:  #ffffff;
    box-shadow: 0 -200px 100px -100px #c0c3ec inset;
    margin-bottom: 25px;
    margin-right: 22px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 8px;
    display: inline-block;
    color:#000000;
    transition: 0.5s;
}


.Box__info {
    line-height: 80px;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 40px;
}

.Box__name {
    font-size: 18px ;
    line-height: 80px;

}

.Box__phone {
    padding-bottom: 25px;
}

.Modal__window {
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
   
}

.Modal__mask {
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.Model__form {

    padding: 24px;
    border-radius: 12px;
    background: linear-gradient(to top,#a3a7df, #c0c3ec, #f5f5f5,  #f5f5f5);
    display: inline-block;
    z-index: 2;
}

.Form__title {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;
}

.Form__content {}

.Content__field {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 16px;

    
}

.Content__field label {
    font-size: 16px;
    font-weight: 700;
    display: block;
    margin-bottom: 8px;
}

.Content__field input {
    display: block;
    width: 227px;
    padding: 12px 16px;
}

.Content__field textarea {
    display: block;
    width: 227px;
    padding: 12px 16px;
}

.Content__field button {
    font-size: 16px;
    font-weight: 700;
    padding: 12px 0;
    width: 100%;
    margin-top: 20px;
}

